<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>WatchJot</title>
</head>
<body>

    {{> _navbar}}

    <div class="container">
        <div class="card-panel white2 center-align">
            {{{body}}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="dist/js/materialize.min.js"></script>
</body>
</html>