html {
    font-family: 'Lato';
  }

.blue-marine {
    background-color: #BDD4DE;
}

.blue-grey2 {
    background-color: #3F5765;
}

.blue-grey-dark {
    background-color: #2B3A42;
}

.white2 {
    background-color: #EFEFEF;
}

.orange2 {
    background-color: #FF530D;
}